#board {
  padding: 1em;
  height: 90%;
  width: 100%;
  background-color: beige;
  box-sizing: border-box;
}

#playerCards {
  position: relative;
  top: 20em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cardsOnBoard {
  position: relative;
  top: 13em;
  display: flex;
  justify-content: center;
  gap: 1em;
}



.card {
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 3em;
  height: 5em;
  width: 3em;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  font-weight: bolder;
}